<?xml version="1.0"?>
<config>
	<ServerConfig>
		<DEFAULT_TRUSTSTORE>server/truststore-server.jks</DEFAULT_TRUSTSTORE>
		<DEFAULT_TRUSTSTORE_PASSWORD>password</DEFAULT_TRUSTSTORE_PASSWORD>
		<DEFAULT_KEYSTORE>server/keystore-server.jks</DEFAULT_KEYSTORE>
		<DEFAULT_KEYSTORE_PASSWORD>password</DEFAULT_KEYSTORE_PASSWORD>
		<PORT_NUMBER>5555</PORT_NUMBER>
		<VERSION>1</VERSION>
		<MINOR_VERSION>0</MINOR_VERSION>
		<CLIENT_BANK_AMOUNT>500</CLIENT_BANK_AMOUNT>
		<LOG_FILE>Server.log</LOG_FILE>
	</ServerConfig>
	<ClientConfig>
		<PORT_NUMBER>5555</PORT_NUMBER>
		<HOSTNAME>localhost</HOSTNAME>
		<DEFAULT_TRUSTSTORE>client/truststore-client.jks</DEFAULT_TRUSTSTORE>
		<DEFAULT_TRUSTSTORE_PASSWORD>password</DEFAULT_TRUSTSTORE_PASSWORD>
		<DEFAULT_KEYSTORE>client/keystore-client.jks</DEFAULT_KEYSTORE>
		<DEFAULT_KEYSTORE_PASSWORD>password</DEFAULT_KEYSTORE_PASSWORD>
		<LOG_FILE>Client.log</LOG_FILE>
	</ClientConfig>
</config>